<div class="full-page_bg"></div>

<div class="full-page_content">
	<header class="full-page-header"></header>
	<h3 class="full-page_title">{{title}}</h3>
	<p class="full-page_author">{{author}}</p>
	<p class="full-page_text">{{abstract}}</p>
</div>