/* color scheme */
body,
#afui { background-color:#DCDEE0 !important }
#afui #header { background-color:#0088D1 !important }
#afui .panel { color:#53585F !important }
.input-text { background:#fff !important }

/* zero height for main page header */
#afui #header header[data-parent=main] {
	height:0 !important;
	border:0 !important
}


/* common classes */
.hidden { display:none !important }

/* signup form */
.form.m-signup,
.form.m-login,
.form.m-changepass,
.form.m-resetpass { 
	padding-top:60px;
	padding-left:20px;
}

	/* vertical labels */
	#afui .form_label {
		display: block;
		float: none;
		margin-bottom: 3px;
		padding: 0;
		text-align: left;
		width: auto;
	}
	
/* settings page */
/* making it vertical */
#afui > #menu.tabletMenu {
	height:190px;
	height:auto;
	width:100%;
	top:-190px;
	z-index:190;
	bottom:auto;
}
#afui .button.m-settings {
	background: #DCDEE0;
	border-color: #53585F;
	border-radius: 0;
	border-style: none none solid;
	border-width: 0 0 1px;
	color: #53585F;
	display: block;
	font-size: 14px;
	font-weight: 100;
	height: 40px;
	line-height: 40px;
	margin: 0;
	padding: 0;
	text-align: left;
	text-indent: 20px;
	box-shadow:none;
}

#afui > #menu.tabletMenu { background: #DCDEE0 !important }

#afui .button.m-first { border-top:1px solid #53585F; }

body #afui .search-field {
	color: #53585F !important;
	display: block;
	float: none;
	height: 30px;
	margin: 15px;
	padding: 0;
	text-indent: 10px;
	width: 170px;
	border-color:#53585F;
	background:#fff !important;
}

/* hide navbar */
#afui > #navbar { display:none !important }

/* hide cancel button in popups */
.afPopup #cancel { display:none !important }
.afPopup #action { float:none !important }

/* slideshow */
.slider {
	height:100%;
	position:relative;
	overflow:hidden;
}

	.slider_wrapper {
		position:relative;
		/*height:100%;*/
		overflow:hidden
	}
	
	.slider_slide {
		float:left;
		width:auto;
		position:relative;
	}
	
	.slider_image {
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index:1;
	}
	
	.slider_author {
		position:relative;
		z-index:2;
		padding-left:30px;
		color:#fff;
		font-weight:100;
		padding-top:30px;
		font-weight:100;
		font-size:20px;
	}
	.slider_title {
		position:relative;
		z-index:2;
		padding-left:30px;
		color:#fff;
		font-weight:700;
		font-size:30px;
	}

/* slider navigation */
.slider-nav {
	position:absolute;
	top:60%;
	z-index:2;
	width:300px;
	left:50%;
	margin-left:-150px;
}

	.slider-nav_link {
		width:20px;
		height:20px;
		display:block;
		border-radius:30px;
		background:#fff;
		margin-right:10px;
		float:left;
		text-indent:-999px;
		overflow:hidden
	}

	.slider-nav_link.m-active { background:#ccc }

/* trigger for main menu it's included in each slide in slider */
.slider_nav-swipe-area {
	display: block;
	height: 20%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 10;
}
	
/* carousel */
.carousel {
	position:absolute;
	overflow:hidden;
	bottom:0;
	left:0;
	width:98%;
	margin:0 1% 1%;
}

	.carousel_wrapper {
		position:relative;
		overflow:hidden;
		height:140px;
	}
	
	.carousel_slide {
		float:left;
		position:relative !important;
		width:100%;
		position:relative;
		/*margin-right:1%;*/
		height:140px;
		left:0 !important;
	}
		
		.carousel_image.m-last { margin-right:0; }
	
	.carousel_image {
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		height: 100%;
		width: 32.6%;
		z-index:1;
		margin-right:1%;
		float:left;
		
		/*
		left: 0;
		position: absolute;
		top: 0;
		*/
	}
	
	
/* browser and tablets */
@media handheld, only screen and (min-width: 768px) {
	body #afui .search-field {
		width: 226px;
	}
}